#bg {
    -fx-background-color: #233D4D;
}

#loginInputs {
    -fx-background-color: white;
    -fx-background-radius: 25px;
}

#inputEmail {
    -fx-background-radius: 25px;
}

#inputPass {
    -fx-background-radius: 25px;
}

#busqueda {
    -fx-background-radius: 25px;
}

#busqueda1 {
    -fx-background-radius: 25px;
}


Button {
    -fx-background-color: #5E5DF0;
    -fx-background-radius: 40px;
    -fx-text-fill: white;
    -fx-font-size: 24px;
    -fx-font-weight: 700;
}

Button:hover {
    -fx-text-fill: black;
    -fx-background-color: #38EF7D;
    -fx-translate-y: -2px;
}

#CerrarSesion:hover {
    -fx-text-fill: #d97021;
}